SQLNET.AUTHENTICATION_SERVICES = (NONE)
SSL_CLIENT_AUTHENTICATION = TRUE
SSL_VERSION = 1.2
WALLET_LOCATION =
  (SOURCE =
    (METHOD = FILE)
    (METHOD_DATA =
      (DIRECTORY = /u01/app/oracle/admin/wallet)
    )
  )

# Logging
TRACE_LEVEL_CLIENT = OFF
TRACE_DIRECTORY_CLIENT = /tmp
TRACE_FILE_CLIENT = sqlnet_trace.log

